{% load static %}
<html>
	<head>
        {% load static %}
		<title>login</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        <script src="{% static 'Jq/jquery-1.11.1.js' %}"></script>
        <script>
            function login() {
                $.ajax({
                    type: 'post',
                    url: '{% url 'login:login_logic' %}',
                    data: $('#form').serialize(),
                    success: function (data) {
                        if (data === '√'){
                            location.href='{% url 'info:home' %}'
                        }else {
                            alert('用户名或密码错误')
                        }
                    }
                })
            }
        </script>
	</head>

	<body>
		<div id="wrap">
			<div id="top_content">
					<div id="header">
						<div id="rightheader">
							<p>
								2009/11/20
								<br />
							</p>
						</div>
						<div id="topheader">
							<h1 id="title">
								<a href="#">main</a>
							</h1>
						</div>
						<div id="navigation">
						</div>
					</div>
				<div id="content">
					<p id="whereami">
					</p>
					<h1>
						login
					</h1>
					<form action="{% url 'login:login_logic' %}" method="post" id="form">
                        {% csrf_token %}
						<table cellpadding="0" cellspacing="0" border="0"
							class="form_table">
							<tr>
								<td valign="middle" align="right">
									username:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" name="name" />
								</td>
							</tr>
							<tr>
								<td valign="middle" align="right">
									password:
								</td>
								<td valign="middle" align="left">
									<input type="password" class="inputgri" name="pwd" />
								</td>
							</tr>
						</table>
                        <p>
							<input type="checkbox" class="button" value="1" name="remember">记住我
						</p>
						<p>
							<input type="button" class="button" value="Submit &raquo;" onclick="login()"/>
						</p>
					</form>
				</div>
			</div>
			<div id="footer">
				<div id="footer_bg">
					ABC@126.com
				</div>
			</div>
		</div>
	</body>
</html>
