<html>
	<head>
         {% load static %}
		<title>register</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        <script src="{% static 'Jq/jquery-1.11.1.js' %}"></script>
        <script>
            flag1 = false;
            flag2 = false;
            flag3 = false;
            function fun1() {
                $('#span').html('<img src="{% static 'images/5-121204194025.gif' %}" height="20px">');
                $.ajax({
                    type: 'post',
                    url: '{% url 'login:check' %}',
                    data: 'name='+$('#name').val()+'&csrfmiddlewaretoken={{ csrf_token }}',
                    success : function (msg) {
                        if (msg === '×'){
                            flag1 = false;
                            $('#span').html('<img src="{% static 'images/error_3.jpg' %}" height="20px">'+'用户名已存在' )
                        }else if(msg === '√'){
                            flag1 = true;
                            $('#span').html('<img src="{% static 'images/right.jpg' %}" height="20px">' )
                        }
                    }
                })
            }
            function fun2() {
               let pwd1 = $('#pwd1').val();
               let pwd2 = $('#pwd2').val();
               if (pwd1 === pwd2){
                   flag2 = true;
                   $('#span2').html('<img src="{% static 'images/right.jpg'%}" height="20px">')
               }else{
                   flag2 = false;
                   $('#span2').html('<img src="{% static 'images/error_3.jpg'%}" height="20px">'+'两次密码输入不一致')
               }
            }
            function fun3() {
                $('#span3').html('<img src="{% static 'images/5-121204194025.gif' %}" height="20px">');
                $.ajax({
                    type: 'get',
                    url: '{% url 'login:check_capt' %}',
                    data: 'number='+$('#number').val(),
                    success: function (msg) {
                        if (msg === '√'){
                            flag3 = true;
                            $('#span3').html('<img src="{% static 'images/right.jpg' %}" height="20px">');
                        }else {
                            flag3 = false;
                            $('#span3').html('<img src="{% static 'images/error_3.jpg' %}" height="20px">'+'验证码输入有误');
                        }
                    }
                })
            }
            function register() {
               if (flag1===true && flag2===true && flag3===true){
                   $.ajax({
                       type: 'post',
                    url: '{% url 'login:register_logic' %}',
                    data: $('#form1').serialize(),
                    success: function (data) {
                        if (data === '√'){
                            location.href='{% url 'login:login' %}'
                        }else {
                            alert('注册失败')
                        }
                    }
                   })
               }
            }
        </script>
	</head>
	<body>

		<div id="wrap">
			<div id="top_content">
					<div id="header">
						<div id="rightheader">
							<p>
								2009/11/20
								<br />
							</p>
						</div>
						<div id="topheader">
							<h1 id="title">
								<a href="#">main</a>
							</h1>
						</div>
						<div id="navigation">
						</div>
					</div>

            <div id="header">
				<div id="content">
					<p id="whereami">
					</p>

					<h1>
						注册
					</h1>
					<form action="{% url 'login:register_logic' %}" method="post" enctype="multipart/form-data" id="form1">
                         {% csrf_token %}
						<table cellpadding="0" cellspacing="0" border="0"
							class="form_table">
							<tr>
								<td valign="middle" align="right">
									用户名:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" name="username" id="name" onblur="fun1()"/>
                                    <span  id="span"></span>
								</td>
							</tr>
							<tr>
								<td valign="middle" align="right">
									真实姓名:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" name="name" />
								</td>
							</tr>
							<tr>
								<td valign="middle" align="right">
									密码:
								</td>
								<td valign="middle" align="left">
									<input type="password" class="inputgri" id="pwd1" name="pwd"/>
								</td>
							</tr>
                            <tr>
								<td valign="middle" align="right">
									确认密码:
								</td>
								<td valign="middle" align="left">
									<input type="password" class="inputgri" id="pwd2" onblur="fun2()"/>
                                    <span id="span2"></span>
								</td>
							</tr>
							<tr>
								<td valign="middle" align="right">
									性别:
								</td>
								<td valign="middle" align="left">
									男
									<input type="radio" class="inputgri" name="sex" value="m" checked="checked"/>
									女
									<input type="radio" class="inputgri" name="sex" value="f"/>
								</td>
							</tr>
							<tr>
                                <td valign="middle" align="right">
                                     验证码:
                                </td>
                                <td valign="middle" align="left">
									<input type="text" class="inputgri" id="number" onblur="fun3()"/>
                                    <span id="span3"></span>
								</td>
								<td valign="middle" align="right">
                                    <img src="{% url 'login:captcha' %}" alt="" width="80px" height="30px" id ="num">
                                    <a href="javascript:void(0)" onclick="document.getElementById('num').src='{% url 'login:captcha' %}?'+(new Date()).getTime()">换一张</a>
								</td>
							</tr>
						</table>
						<p>
							<input type="button" class="button" value="Submit &raquo;" onclick="register()"/>
						</p>
					</form>
				</div>
			</div>

			<div id="footer">
				<div id="footer_bg">
				ABC@126.com
				</div>
			</div>
		</div>
	</body>
</html>
