<html>
	<head>
        {% load static %}
		<title>emplist</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        <style>
        .a{
            width:20px;
            height: 20px;
            border:1px solid #74A8F5;
            cursor:pointer;
            display: inline-block;
            text-align: center;
            line-height: 20px;
        }
        .b{
            border:0;
            width:20px;
            height: 20px;
            cursor:pointer;
            display: inline-block;
            text-align: center;
            line-height: 20px;
        }
        a{
            text-decoration:none;
        }
</style>
	</head>
	<body>
		<div id="wrap">
			<div id="top_content"> 
				<div id="header">
					<div id="rightheader">
						<p class="date">
							2009/11/20

							<br />
						</p>
					</div>
					<div id="topheader">
						<h1 id="title">
							<a href="#">main</a>
						</h1>
					</div>
					<div id="navigation">
					</div>
				</div>
				<div id="content">
					<p id="whereami">
					</p>
					<h1>
						Welcome!
					</h1>
					<table class="table">
						<tr class="table_header">
							<td>
								ID
							</td>
							<td>
								Name
							</td>
							<td>
								Salary
							</td>
							<td>
								Age
							</td>
                            <td>
								Headpic
							</td>
							<td>
								Operation
							</td>
						</tr>

                        {% for i in page %}

						<tr class="row1">
							<td >
                                {{ forloop.counter }}
							</td>
							<td>
								{{ i.name }}
							</td>
							<td>
								{{ i.salary }}
							</td>
							<td>
								{{ i.age }}
							</td>
                            <td>
                            {% load static %}
								 <img src="{%  static  i.head.url %}" height="50px">
							</td>
							<td>
								<a href="{% url 'info:delete' %}?id={{ i.id }}&number={{ page.number }}">delete emp</a>&nbsp;<a href="{% url 'info:update' %}?id={{ i.id }}&number={{ page.number }}">update emp</a>
							</td>
                        </tr>
                        {% endfor %}
                        </table>
                {% if page.has_previous %}
                    <a href="{% url 'info:home' %}?number={{ page.previous_page_number }}">上一页</a>
                {% endif %}
                {% for p in page.paginator.page_range %}
                    {% if p == page.number %}
                        <a href="{% url 'info:home' %}?number={{ page.number }}" class="a">{{ p }}</a>
                        {% else %}
                        <a href="{% url 'info:home' %}?number={{ page.number }}" class="b">{{ p }}</a>
                    {% endif %}
                {% endfor %}
                 {% if page.has_next %}
                    <a href="{% url 'info:home' %}?number={{ page.next_page_number }}">下一页</a>
                {% endif %}
					<p>
						<input type="button" class="button" value="Add Employee" onclick="location.href='{% url 'info:add' %}'"/>
					</p>
				</div>
			</div>
			<div id="footer">
				<div id="footer_bg">
				ABC@126.com
				</div>
			</div>
		</div>
	</body>
</html>
