<html>
    {% load static %}
	<head>
		<title>update Emp</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css"
			href="{% static 'css/style.css' %}" />
	</head>

	<body>
    {% load static %}
		<div id="wrap">
			<div id="top_content">
					<div id="header">
						<div id="rightheader">
							<p>
								2009/11/20
								<br />
							</p>
						</div>
						<div id="topheader">
							<h1 id="title">
								<a href="#">Main</a>
							</h1>
						</div>
						<div id="navigation">
						</div>
					</div>
				<div id="content">
					<p id="whereami">
					</p>
					<h1>
						update Emp info:
					</h1>
					<form action="{% url 'info:update_logic' %}?id={{ info.id }}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
						<table cellpadding="0" cellspacing="0" border="0"
							class="form_table">
							<tr>
								<td valign="middle" align="right">
									id:
                                    <input type="hidden" class="inputgri" name="id" value="{{ info.id }}">
                                    <input type="hidden" class="inputgri" name="number" value="{{ number }}">
								</td>
								<td valign="middle" align="left">
                                    {{ info.id }}
								</td>
							</tr>
							<tr>
								<td valign="middle" align="right">
									name:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" name="name" value="{{ info.name }}"/>
								</td>
							</tr>
							<tr>
								<td valign="middle" align="right">
									salary:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" name="salary" value="{{ info.salary }}"/>
								</td>
							</tr>
							<tr>
								<td valign="middle" align="right">
									age:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" name="age" value="{{ info.age }}"/>
								</td>
							</tr>
                            <tr>
								<td valign="middle" align="right">
									headpicture:
								</td>
                                <td valign="middle" align="left">
                                    <img src="{%   static info.head.url %}" alt="" height = "50px">
                                </td>
							</tr>
                            <tr>
                                <td valign="middle" align="right">
                                    new_headpicture
                                </td>
                                <td valign="middle" align="left">
									<input type="file" class="inputgri" name="picture" />
								</td>
                            </tr>
						</table>
						<p>
							<input type="submit" class="button" value="Confirm" />
						</p>
					</form>
				</div>
			</div>
			<div id="footer">
				<div id="footer_bg">
					ABC@126.com
				</div>
			</div>
		</div>
	</body>
</html>
